html,
body {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.container {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px 0;
}

.header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.header>a {
    color: rgb(229, 9, 20);
    text-decoration: none;
}

section {
  padding: 20px 0px;
}

.recommended-movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.all-movies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}